* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    margin: 47px 36px 0 42px;
}

.link-header {
    font-weight: 400;
    line-height: 21px;
    font-size: 14px;
    letter-spacing: 0.88px;
    align-content: center;
    margin-right: 32px;
    color: #17233D;
    cursor: pointer;
}

button {
    font-weight: 500;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: 1px;
    background: #6FBF44;
    color: #ffff;
    border: 1px solid #4CB538;
    Width: 124px;
    height: 51px;
    border-radius: 5px;
}

.image {
    margin: 163px 83px -50px 121px;
    width: 595px;
    height: 500px;
}

.text {
    font-weight: 700px;
    font-size: 62px;
    line-height: 82px;
    letter-spacing: 0.6px;
    color: #161A49;
    width: 582px;
    height: 164px;
}

.parag {
    font-weight: 400px;
    font-size: 18px;
    line-height: 33px;
    letter-spacing: 0.5px;
    color: #4B505A;
    margin-top: 47px;
    margin-bottom: 55px;
    width: 493px;
    height: 99px;
}

#link {
    font-weight: 500px;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 1px;
    color: #6FBF44;
    cursor: pointer;
    width: 112px;
    height: 27px;
}


section {
    display: inline-block;
}

@media screen and (max-width:1385px) {

    header {
        text-align: right;
        position: relative;
        left: 110%;
        bottom: 20px;
    }

    .link-header {
        display: none;
    }

    button {
        width: 91px;
        height: 31px;
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 18px;
        letter-spacing: 1px;
        position: relative;
        left: 15%;
    }

    section {
        position: absolute;
        bottom: 400px;
        top: 20%;
        left: 65%;
        text-align: center;
    }

    .image {
        width: 170%;
        position: relative;
        top: 400px;
        right: 15%;
    }

    .parag {
        Width: 304px;
        Height: 165px;
        font-weight: 400;
        font-size: 18px;
        line-height: 33px;
        letter-spacing: 0.5px;
        position: relative;
    }

    .text {
        font-weight: 700;
        font-size: 30px;
        line-height: 30px;
        letter-spacing: 0.6px;
        Width: 278px;
        Height: 60px;
    }

    #link {
        font-weight: 500;
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 1px;
        Width: 112px;
        Height: 27px;
    }

body {
    width: 390px;
    height: 800px;
}

button:active {
    color: #4B505A;
}

}